@import '../styles/mixins/mixins.scss';

.authPageWrapper {
  display: flex;
  justify-content: center;

  @include onSmallDesktop {
    justify-content: flex-start;
  }

  height: calc(100vh - 82px);

  .authPagePoster {
    display: none;

    background-image: url('../assets/imageAuth.jpg');

    width: 62%;

    background-repeat: no-repeat;
    height: auto;

    @include onTablet {
      width: 600px;
    }

    @include onSmallDesktop {
      display: block;

      width: 890px;
    }

    @include onDesktop {
    }
  }
}
