@import '../mixins/mixins.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-block: 11px;

  border-radius: 5px;

  color: #b29f7e;
  border: 1px solid #b29f7e;

  text-align: center;

  font-weight: 700;
  line-height: 22px;

  cursor: pointer;

  &:hover {
    background-color: #b29f7e;
    opacity: 0.8;

    color: white;
  }

  &-primary {
    color: #fff;

    background-color: #b29f7e;

    border: none;
    font-size: 16px;

    // &:hover {
    //   background-color: #fff;

    //   color: #b29f7e;
    // }
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
