@import '../../styles/mixins/mixins.scss';

.loginForm {
  display: flex;

  justify-content: center;
  align-items: center;

  padding-inline: 20px;

@include onSmallDesktop{
  padding-inline: 100px;

}

  .loginWrapper {
    display: flex;
    flex-direction: column;

    width: 350px;

    .loginTitle {
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;

      color: #172234;

      margin-bottom: 20px;
    }

    .loginItemWrapper {
      &:not(&:last-child) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 30px;
      }

      .loginItemInfo {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;

        color: #000;

        margin-bottom: 3px;
      }

      .inputPassword {
        margin-bottom: 10px;
      }

      .forgotWrapper {
        display: flex;
        justify-content: flex-end;

        .forgotPassword {
          font-family: 'Lato';
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;

          color: #b29f7e;
        }
      }
    }

    .buttonLogin {
      margin-bottom: 10px;
    }

    .signUpText {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #172234;

      text-align: center;

      .signUpLink {
        color: #b29f7e;
        cursor: pointer;
      }
    }
  }
}
