@import '../../styles/mixins/mixins.scss';

.header {
  background-color: #172234;

  min-height: 62px;

  padding-block: 12px;

  @include onTablet {
    min-height: 82px;
    padding-block: 18px;
  }
  .headerWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .headerButtons {
    display: flex;
    justify-content: center;
    gap: 10px;

    .buttonLogin {
      width: 100px;

      @include onTablet {
        width: 160px;
      }
    }
  }
}
