.header {
  background-color: #172234;

  min-height: 82px;

  padding-block: 18px;

  .headerWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .headerButtons {
    display: flex;
    justify-content: center;
    gap: 10px;

    .buttonLogin {
      width: 160px;
    }
  }
}
